@use '../../styles/globals' as globals;

.dashboard-wrapper-container {
  .container {
    .subscription-plan-display-container {
      margin-bottom: 20px;
    }

    .dashboard-content-section {
      .tab-bar-container {
        position: sticky;
        top: 70px;
        background-color: white;
        z-index: 10;

        @include globals.dark-mode() {
          background-color: globals.$dark-background-color;
        }
      }
    }
  }
}

.info-bar-shown {
  .tab-bar-container {
    top: 112px !important;
  }
}