# NextJS Application Configuration
PORT=3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# WebSocket Server Configuration
NEXT_PUBLIC_WEBSOCKET_URL=http://localhost:3001

# Session Configuration
SESSION_COOKIE_NAME=session_id

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/diwa_date

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# AWS S3 Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=

# Email Configuration
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=noreply@diwa-date.com

# JWT Configuration
JWT_SECRET=your-jwt-secret-here

# Other Services
OPENAI_API_KEY=

IP2LOCATION_KEY=

# Google Maps Configuration
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Meta (Facebook) Pixel & Conversion API Configuration
NEXT_META_DATASET_ID=
META_CONVERSION_API_ACCESS_TOKEN=

# PayPal Configuration
PAYPAL_CLIENT_SECRET=
PAYPAL_API_BASE_URL=https://api-m.paypal.com
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
